@font-face {
    font-family: raleway;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: rubik;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: rubik, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}
.button {
    font-family: raleway, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-header {
    width: 1160px;
    min-height: 300px;
    color: #000000;
    background-color: #FFE17F;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}
.page-logo-link {
    display: block;
    width: 145px;
    margin-top: -23px;
    margin-bottom: 35px;
}
.navigation-users {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
    list-style-type: none;
}
.search {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
    background-color: #FFE17F;
}
.navigation-users-item:nth-child(1) {
    width: 50%;
}
.navigation-users-item:nth-child(2) {
    margin-right: auto;
    padding-left: 25px;
}
.navigation-users-item:nth-child(3) {
    margin-right: 14px;
    padding: 0 25px;
}
.navigation-users-item:nth-child(4) {
    padding-left: 35px;
}
.navigation-users-link {
    display: block;
    line-height: 19px;
    text-align: left;
    color: inherit;
    text-decoration: none;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation-list-item:nth-child(1) {
    width: 50%;
}
.navigation-list-item:last-child {
    margin-left: auto;
}
.navigation-list-item:nth-child(3) {
    margin-left: 19px;
}
.navigation-list-link {
    display: block;
    font-family: raleway, sans-serif;
    line-height: 21px;
    font-weight: 800;
    text-align: left;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.main-container {
    flex-grow: 1;
}
.main-index {
    color: #000000;
    background-color: #FFFFFF;
}
.page-container {
    width: 1160px;
    margin: 0 auto;
}
.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1160px;
    margin: 0;
    margin-top: -150px;
    padding: 0;
}
.slider-item {
    display: flex;
    flex-wrap: wrap;
}
.slider-container {
    margin-top: 121px;
}
.slider-display-none {
    display: none;
}
.slider-image {
    display: block;
    margin-right: 40px;
}
.slider-subtitle {
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    margin: 0;
    margin-bottom: 19px;
}
.slider-discription {
    width: 560px;
    margin: 0;
    margin-bottom: 30px;
    min-height: 80px;
    color: #444444;
}
.button-more {
    display: block;
    width: 220px;
    height: 20px;
    margin-bottom: 70px;
}
.slider-parameters {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slider-parameters-terms {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}
.slider-parameters-item:not(:last-of-type) {
    margin-right: 20px;
}
.slider-parameters-discription {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}
.slider-pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.product-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0;
    margin-bottom: 68px;
    padding: 0;
    list-style-type: none;
}
.product-item {
    width: 160px;
    height: 254px;
}
.product-link {
    font-family: raleway, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.product-bg {
    display: flex;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    justify-content: center;
    align-items: center;
    background-color: #FFE17F;
}
.service {
    width: 100%;
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
    background-color: #F0F0F0;
}
.slider-service {
    display: flex;
    justify-content: start;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}
.service-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: 120px;
}
.service-title {
    width: 560px;
    height: 70px;
    margin: 0;
    padding: 0;
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.servive-discription {
    width: 500px;
    min-height: 165px;
    margin: 0;
    margin-bottom: 69px;
    padding: 0;
    color: #444444;
}
.slider-service-list {
    margin: 0;
    margin-top: -20px;
    padding: 0;
    list-style-type: none;
}
.button-service-current {
    width: 280px;
    height: 40px;
    text-align: start;
    padding-left: 18px;
    color: #FFE17F;
    background-color: #000000;
}
.button-service {
    width: 160px;
    height: 20px;
    text-align: center;
}
.slider-service-item:not(:last-of-type) {
    margin-bottom: 45px;
}
.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    min-height: 100px;
    margin: 0;
    margin-bottom: 97px;
    padding: 0;
    background-color: #F0F0F0;
}
.delivery-discription {
    margin: 0;
    font-family: raleway, sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.index-columns {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0;
    padding: 0;
}
.about {
    width: 560px;
    margin: 0;
    padding: 0;
}
.about-title {
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.about-discription {
    color: #444444;
}
.about-delivery-list {
    padding: 0;
}
.about-delivery-item {
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}
.contacts {
    width: 560px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: #444444;
}
.contacts-title {
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.contacts-discription {
    color: inherit;
}
.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.contacts-subtitle-text {
    font-style: normal;
    color: inherit;
}
.contacts-subtitle-number {
    font-style: normal;
    color: inherit;
    text-decoration-line: underline;
}
.contacts-schedule {
    list-style-type: none;
    padding: 0;
}
.newsletter {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    color: #444444;
}
.newsletter-container {
    display: flex;
    width: 1160px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}
.newsletter-form {
    display: flex;
    width: 1160px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.newsletter-title {
    width: 560px;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.newsletter-text {
    width: 560px;
    margin: 0;
    padding: 0;
}
.newsletter-email {
    width: 560px;
    margin-right: 40px;
    padding: 0;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
}
.newsletter-free {
    width: 129px;
    margin: 0;
    padding: 0;
}
.newsletter-button {
    width: 260px;
    margin-right: 171px;
    background-color: inherit;
}
.page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}
.page-footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #444444;
}
.footer-adress-text {
    width: 238px;
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 19px;
}
.footer-service-list {
    display: flex;
    justify-content: space-between;
    width: 458px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-navigation-social {
    display: flex;
    justify-content: space-between;
    width: 458px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-service-link {
    font-family: raleway, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-phone-address-number {
    font-style: normal;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}
.social-button {
    background-color: #ffffff;
}
.main-inner {
    color: #000000;
    background-color: #FFFFFF;
}
.inner-header-title {
    font-family: raleway, sans-serif;
    font-size: 50px;
    line-height: 50px;
}
.breadcrumps-list {
    display: flex;
    width: 425px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.breadcrumps-link {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    color: #000000;
    text-decoration: none;
}
.catalog-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.page-column-left {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}
.page-column-right {
    flex-grow: 1;
    margin: 0;
}
.column-left-title {
    background-color: #DCDCDC;
}
.catalog-products-title {
    width: 328px;
    margin: 0;
    margin-left: auto;
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.catalog-products-filter {
    width: 328px;
    margin-left: auto;
    padding: 0;
    height: 100%;
}
.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.catalog-filter-label {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    opacity: 0.3;
}
.column-right-sorting {
    background-color: #EBEBEB;
}
.sorting-type {
    width: 832px;
    margin: 0;
    padding-left: 72px;
    box-sizing: border-box;
}
.catalog-filter-item {
    font-size: 16px;
    line-height: 19px;
}
.sorting-type-label {
    width: 236px;
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.select-control {
    width: 163px;
    font-size: 16px;
    line-height: 19px;
}
.button-up {
    background-color: inherit;
}
.button-down {
    background-color: inherit;
}
.product-card {
    width: 832px;
    padding-left: 72px;
    box-sizing: border-box;
}
.product-card-list {
    width: 760px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}
.product-card-link {
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000000;
}
.product-card-text {
    line-height: 21px;
    text-align: right;
    color: #444444;
}
.load-more {
    width: 760px;
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #FFFFFF;
}
.pagination-list {
    display: flex;
    width: 760px;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-between;
    list-style-type: none;
}
.pagination-link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
}
.pagination-prev {
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
}
.pagination-next {
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
}